<html>
<head>
  {{>head}}
</head>

<body id="register">

<div class="center-wrapper">
  <div class="center">
    <h3>注册</h3>
    <form method="post" id="register-form">

      <input name="username" type="text" class="form-control" placeholder="在此地输入你的手机号码...">
      <div class="vertifycon"> <input name="password" type="password" class="form-control" placeholder="在此地输入你收到的验证码"><span class="vertify-btn">获取验证码</span></div>

      <input id="password1" type="password" class="form-control" placeholder="在此地输入密码..."/>
      <input id="password1" type="password" class="form-control" placeholder="重复密码"/>

      <div class="alert alert-danger" style="display: none;"></div>
      <div class="alert alert-success" style="display: none;"></div>

      <div class="pull-right">
        <a class="btn btn-link" href="/account/login">直接登录</a>
        <a class="btn btn-success" onclick="signup()">注册</a>
      </div>
    </form>
  </div>
</div>

</body>
</html>
