<div class="clear"></div>
<footer class='footer elem-center'>
 <a class="footer-item left footer-item-active" href="/home/lend">借款</a>
 <a class="footer-item left" href="/home/explore">探索</a>
 <a class="footer-item left" href="/home/profile">主页</a>
</footer>


