/*        common  css        */
*{
	 margin: 0;
	 padding: 0;
}
body{
	 font-family: 微软雅黑;
	 padding-left: 8%;
}
.left{
	 float: left;
}
.right{
	 float: right;
}
.clearfix{
	 clear: both;
}
a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(51, 51, 51);	 
}
.nav{
	background-color: rgb(238, 238, 238);
	height: 28px;
	line-height: 28px;
    padding: 0 25px;
    margin-left: -110px;
}
.nav span a{
    margin-right: 5px;
}
.main_content{
	margin: 0 10%;

	padding:5px 10px;
}
li{
	list-style: none;

}
.active{
	 border: 1px solid  rgb(27, 208, 188) !important;
	 background: white !important;
	 
}
.active a{
	 color: rgb(27, 208, 188) !important;
}






/*                 index css                */
.logo h1{
	     color: rgb(102, 102, 102);
	     font-weight: bolder;
	     margin-left: -140px;
}
.searchbox{
	    margin-top: 30px;
}

.tag{
	 	display: inline-block;
	 	background-color: rgb(27, 208, 188);
	 	text-align: center;
	 	width: 60px;
	 	height: 25px;
	 	line-height: 25px;
	 	border-radius: 5px;
	 	margin-right: 10px;
	 	margin-bottom: 30px;
}
.tag a{
	    display: inline-block;
        
	    color: white;
}

#animContent .anim{
	width: 30.3333%;
    margin-right: 2%;
    margin-bottom: 50px;
    float: left; 
    border: 1px solid #2D2C30;
}
.anim:hover{
	  border: 1px solid grey !important;
}
.anim img , #price , #title ,#author,#url{
	  float: left;
	  display: block;
	  margin-right: 50px;

}
.anim img{
      margin-right: 20px !important;
      box-shadow: 3px 3px 15px 1px #767676;
  }
#year{
	  margin-top: 30px;
	  margin-bottom:30px;
	  margin-left: -110px;

}

#content{
	 margin-top: 20px;
	 font-size: 12px;
	 color: #666;
}
.pagecontent{
	   margin-left: 40%;
}
.pagecontent a{
	padding: 3px 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    float: left;
    color: #000;
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 10px;
    border-radius: 5px;
}
.activepage{
	 background-color:rgb(27, 208, 188) !important;
	 color: white !important; 
}

d