<html>
<head>
    {{>head}}
    <meta charset="utf-8" />
    <title>Frogloan</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/focus.css">
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</head>

<body>

{{>title_nav}}

<div class="loan-container">
    <div class="logo elem-center">explore</div>

    <div class="loanable-limit elem-center">
        <h3>可借额度</h3>
        <p class="loanable-limit-value">
            3000
        </p>
    </div>

    <div class="loan-detail">
        <p>借款金额 : <input type="text" placeholder="最低借款 200元"></p>
        <i class="separate-line"></i>
        <p>借款金额 : </p>
        <div class="loan-choose-month">
            <span class="left loan-month">一周</span>
            <span class="left loan-month">二周</span>
            <span class="left loan-month">一个月</span>

        </div>
        <div class="clearfix"></div>
        <i class="separate-line"></i>
        <p>到期还款 : <a class="month-repay">3020 <span id="service-payee">(含服务费 20元)</span></a></p>
        <i class="separate-line"></i>

        <p>优惠券 : <a class="discount-coupon">当前暂无优惠券</a><i class="coupon-list"></i></p>
        <i class="separate-line"></i>
        <p>收款账户 : <a class="payee-account">当前支付宝账户</a><i class="payee-list"></i></p>
        <i class="separate-line"></i>
        <button class="loan-button">我要借款</button>
        <p class="protocol"> <input type="checkbox" checked="true"> 我已阅读并同意<a id="protocol-book" href="#">借款协议</a></p>
    </div>

</div>
{{>footer}}
</body>
</html>
